extends layout/default

block scripts

append content
  button.tiny Tiny
  button.tiny.compact Tiny Compact

  p

  button.small Small
  button.small.compact Small Compact

  p

  button.medium Medium
  button.medium.compact Medium Compact

  p

  button.large Large
  button.large.compact Large Compact

  p

  button.huge Huge
  button.huge.compact Huge Compact

  p

  button.enormous Enormous
  button.enormous.compact Enormous Compact
