$tiny = 10px
$small = 12px
$medium = 14px
$large = 18px
$huge = 24px
$enormous = 30px

button, .button
  &.tiny
    padding 0 $tiny
    font-size $tiny
    height 3*$tiny
    line-height 3*$tiny

    &.compact
      height 2*$tiny
      line-height 2*$tiny

  &.small
    padding 0 $small
    font-size $small
    height 3*$small
    line-height 3*$small

    &.compact
      height 2*$small
      line-height 2*$small

  &.medium
    padding 0 $medium
    font-size $medium
    height 3*$medium
    line-height 3*$medium

    &.compact
      height 2*$medium
      line-height 2*$medium

  &.large
    padding 0 $large
    font-size $large
    height 3*$large
    line-height 3*$large

    &.compact
      height 2*$large
      line-height 2*$large

  &.huge
    padding 0 $huge
    font-size $huge
    height 3*$huge
    line-height 3*$huge

    &.compact
      height 2*$huge
      line-height 2*$huge

  &.enormous
    padding 0 $enormous
    font-size $enormous
    height 3*$enormous
    line-height 3*$enormous

    &.compact
      height 2*$enormous
      line-height 2*$enormous
